  <!-- Intro  -->
  <div id="heading" class="view hm-black-light">
    <div class="full-bg-img flex-center">
      <ul id="banner" class="wow fadeInUp">
        <li>
          <h1 class="h1-responsive font-bold">Time is Money</h1></li>
        <li>
          <p>The new way to pay</p>
        </li>
        <li>
          <a href="#" class="btn btn-info btn-lg wow fadeInUp" rel="nofollow">Learn More</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./Intro -->

  <div id="currency" class="view hm-black-light">
    <div class="full-bg-img flex-center text-left">
      <ul class="wow fadeInLeft">
        <li>
          <h1 class="h1-responsive font-bold">Time is Currency</h1></li>
        <li>
          <p>Not everyone has the money to pay for things to get done well, find others who will take your time</p>
        </li>
      </ul>
    </div>
  </div>

  <div id="variety" class="view hm-black-light">
    <div class="full-bg-img flex-center">
      <ul class="wow fadeInRight">
        <li>
          <h1 class="h1-responsive font-bold">All Kinds of Work</h1></li>
        <li>
          <p>Get work from dogsitting to mechanical engineering lessons</p>
        </li>
      </ul>
    </div>
  </div>

  <div id="organization" class="view hm-black-light">
    <div class="full-bg-img flex-center">
      <ul class="wow fadeInLeft">
        <li>
          <h1 class="h1-responsive font-bold">Organization Volunteering</h1></li>
        <li>
          <p>"Volunteer" for posted organization work and get more time currency on your account!</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- How It Works -->
  <div id="about" class="flex-container">
    <div class="container full-bg-img text-white">
      <div class="row wow fadeIn">
        <div class="col-lg-6 offset-lg-6">
          <h1 class="h1-responsive font-bold">How It Works</h2>
          <p class="flex-center">Lorem ipsum dolor sit amet, nulla mundi tractatos ne his, cu eum delenit voluptua philosophia. Vis natum appareat posidonium ne, eius oportere cu ius. Mea nemore suscipit eleifend ut, nam ex aeterno periculis. Virtute laboramus argumentum
            est at, cum ea tempor placerat pertinacia. Nibh aliquip tamquam mel ea, vel ex nonumy fuisset, aliquip veritus apeirian mea cu. In case causae nominavi usu.
            <br /><br /> Ludus suavitate nam id, justo aliquip contentiones sed ad, vidisse omittam fastidii pro ei. Ex homero facilisis mel. Duo in quod accusam, id vel doming nemore, cum odio possim ad. Nobis solet at mel, vim noster euismod id, te
            nec augue suscipit. Ex mei legimus officiis vituperatoribus. Ut eos primis essent, pro veri sanctus convenire te. Vis eu choro patrioque splendide. Sit detracto molestie scriptorem ea, vidisse placerat assueverit nec ne.
            <br /><br /> Ludus suavitate nam id, justo aliquip contentiones sed ad, vidisse omittam fastidii pro ei. Ex homero facilisis mel. Duo in quod accusam, id vel doming nemore, cum odio possim ad.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ./How It Works -->

      <!-- The Team -->
      <div id="team" class="flex-container">
        <div class="container">
          <h1 class="h1-responsive wow fadeIn text-center font-bold">The Team</h2>
      <p class="text-center font-bold mb-5 wow fadeIn" data-wow-delay="0.2s">We are a group of Computer Science students from Hunter College and CUNY Tech Prep</p>

      <div class="row text-center">
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.2s">
          <div class="card">
            <div class="thumbnail">
              <img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-19/s320x320/21433594_455869398128953_3567923388276015104_a.jpg" class="rounded-circle z-depth-1 img-fluid" alt="heidi">
            </div>
            <h4 class="h4-responsive font-bold">Heidi Wu</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s">
          <div class="card">
            <div class="thumbnail">
              <img src="https://avatars0.githubusercontent.com/u/17010683?v=4&s=460" class="rounded-circle z-depth-1 img-fluid" alt="risa">
            </div>
            <h4 class="h4-responsive font-bold">Risa Toyashima</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.6s">
          <div class="card">
            <div class="thumbnail">
              <img src="https://avatars3.githubusercontent.com/u/20933153?v=4&s=460" class="rounded-circle z-depth-1 img-fluid" alt="dandan">
            </div>
            <h4 class="h4-responsive font-bold">Dandan Lin</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ./The Team -->
  <!-- Main Container -->

  <!--Footer-->
  <footer class="footer center-on-small-only">
    <a class="up-arrow text-white" href="#heading" data-toggle="tooltip" title="To Top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
  </footer>
  <!--/.Footer-->
