<div class="registration" style="background-color: #C5C1C0; background-image:url(/img/backgrounds/1.jpg); width: 100%; height: 100%">
   <div class="top-content">
      <div class="container" style="text-align: center">
         <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
               <h1 style="margin-top: 120px; text-align: center">Welcome Back. Plesae Sign In</h1>
               <div class="description">
               </div>
            </div>
         </div>

         <div class="row register-form" style="margin-top: 40px">
            <div class="col-sm-6 col-sm-offset-1">
               <form role="form" action="" method="post" class="l-form" style="width: 50%; float:left; margin-left: 150px">
                  <div class="form-group">
                     <label class="sr-only" for="l-form-username">Username</label>
                     <input type="text" name="l-form-username" placeholder="Username..." class="l-form-username form-control" id="l-form-username">
                  </div>
                  <div class="form-group">
                     <label class="sr-only" for="l-form-password">Password</label>
                     <input type="password" name="l-form-password" placeholder="Password..." class="l-form-password form-control" id="l-form-password">
                  </div>
                  <button type="submit" class="btn" style="background-color: #C5C1C0; box-shadow: 6px 6px 6px #2b638f; font-weight: bold; margin-top: 40px">Sign In</button>
               </form>
            </div>
            <div class="col-sm-6 forms-right-icons" style="width: 50%">
               <div class="row">
                  <div class="col-sm-2 icon"><i class="fa fa-user"></i></div>
                  <div class="col-sm-10">
                     <h3>New Members</h3>
                     <p>Welcome following organizations became our new member</p>

                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-2 icon"><i class="fa fa-eye"></i></div>
                  <div class="col-sm-10">
                     <h3>Browse Current Organization</h3>
                     <p>/******Add Company logo here******/</p>
                  </div>
               </div>
            </div>
            <div class="social-login" style="width: 100%; margin-top: 40px">
               <div class="social-login-buttons">
                  <a class="btn btn-link-1" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-link-1" href="#"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-link-1" href="#"><i class="fa fa-google-plus"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Footer
<footer style="width: 100%; text-align: center">
   <div class="container">
      <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
         <div class="footer-border"></div>

      </div>

      </div>
   </div>
</footer>
-->
<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->
