<div class="registration" style="background-color: #C5C1C0; background-image:url(/img/backgrounds/1.jpg); width: 100%; height: 100%">
   <div class="top-content"  style="background-color: #C5C1C0; background-image:url(/img/backgrounds/1.jpg); width: 100%; height: 100%">
      <div class="container" style="text-align: center">
         <div class="row">
            <div class="col-sm-12 col-sm-offset-2 text">
               <h1 style="margin-top: 50px; width: 100%">Sign Up Here</h1>
               <div class="description">
               </div>
            </div>
         </div>

         <div class="row register-form">
            <div class="col-sm-12 col-sm-offset-1">
               <form role="form" action="" method="post" class="r-form">
                  <div class="col-sm-4 col-sm-offset-1" style="width: 50%; float: left">
                     <div class="form-group">
                        <label class="sr-only" for="r-form-first-name">First name</label>
                        <input type="text" name="r-form-first-name" placeholder="First name..." class="r-form-first-name form-control" id="r-form-first-name">
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="r-form-last-name">Last name</label>
                        <input type="text" name="r-form-last-name" placeholder="Last name..." class="r-form-last-name form-control" id="r-form-last-name">
                     </div>

                     <div class="form-group">
                        <label class="sr-only" for="r-form-email">Email</label>
                        <input type="text" name="r-form-email" placeholder="Email..." class="r-form-email form-control" id="r-form-email">
                     </div>
                  </div>
                  <div class="col-sm-4 col-sm-offset-1" style="width: 50%; float: right">
                     <div class="form-group">
                        <label class="sr-only" for="r-form-username">Username</label>
                        <input type="text" name="r-form-username" placeholder="Username..." class="r-form-username form-control" id="r-form-username">
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="r-form-password">Password</label>
                        <input type="text" name="r-form-password" placeholder="Password..." class="r-form-password form-control" id="r-form-password">
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="r-form-com-password">Confirm Password</label>
                        <input type="text" name="r-form-com-password" placeholder="Confirm Password..." class="r-form-com-password form-control" id="r-form-com-password">
                     </div>
                  </div>
               </form>
            </div>
            <div class="col-sm-12">
               <button type="submit" class="btn" style="background-color: #C5C1C0; box-shadow: 6px 6px 6px #2b638f; font-weight: bold; margin-top: 20px">Sign Up</button>
            </div>
            <div class="col-sm-12 forms-right-icons">
               <div class="row">
                  <div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
                  <div class="col-sm-9">
                     <h3>Question</h3>
                     <textarea name="r-form-about-yourself" placeholder="Suggestions..." class="r-form-suggestion form-control" id="r-form-suggestion"></textarea>
                  </div>
               </div>
               <div class="row" style="margin-top: 20px">
               <div class="col-sm-2 icon"><i class="fa fa-pencil"></i></div>
                  <div class="col-sm-9">
                     <h3>Suggestion</h3>
                     <textarea name="r-form-about-yourself" placeholder="Suggestions..." class="r-form-suggestion form-control" id="r-form-suggestion"></textarea>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</div>

<!-- Footer
<footer>
   <div class="container-signup">
      <div class="row">

      <div class="col-sm-8 col-sm-offset-2">
         <div class="footer-border"></div>
         <p><a href="http://azmind.com" target="_blank">Time Is Money</a></p>
      </div>

      </div>
   </div>
</footer>
 -->
<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->
