<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="/">Time is Money</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Child Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tutoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">House Care</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Dog Sitting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dog Grooming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dog Walking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overnight Dog Care</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Cat Sitting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cat Grooming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overnight Cat Care</a>
        </li>
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h2>Sub Categories</h2>
      <!-- Categories -->
      <div id="categories" class="container-fluid">
        <div class="container">
          <h1 class="h1-responsive font-bold text-center">Pet Care</h1>
          <div class="row">
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="#"><img src="https://images.pexels.com/photos/67304/dog-animal-friend-loyalty-67304.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="figure-img img-fluid rounded" alt="Temp"></a>
                <figcaption class="figure-caption">Dogsitting For All Breeds and Sizes!</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
