<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="#heading">Time is Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#marketplace">Marketplace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">About Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        {{#if cur_user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{cur_user.username}}</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a href="/signup" class="btn btn-light-green btn-sm wow fadeInRight" rel="nofollow">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="btn btn-primary btn-sm wow fadeInRight" rel="nofollow">Log In</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<!-- Intro  -->
<div id="heading" class="view hm-black-light">
  <div class="full-bg-img flex-center">
    <ul id="banner" class="wow fadeInUp">
      <!-- <h1 class="h1-responsive font-bold">Time is Money</h1></li> -->
      <img class="img-fluid mx-auto d-block" src="/img/time_logo.png">

      <h2 class="h2-responsive font-bold">Time is Money</h2></li>
      <li>
        <p>The marketplace for simple daily tasks paid by your time</p>
      </li>
      </li>
      <li>
        <div class="row wow fadeIn">
          <div class="col-md-9">
            <div class="md-form">
              <input type="text" id="search" class="form-control validate">
              <label for="search">Get started now</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form">
              <button class="btn btn-lg btn-info">Search</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- ./Intro -->

<!-- Categories -->
<div id="marketplace" class="container-fluid" style="padding: 50px 0px 60px">
  <div class="container">
    <h1 class="h1-responsive font-bold text-center">Marketplace</h1>
    <p class="text-center font-bold mb-5">Explore our marketplace. Have something to offer? Offer your services!</p>
    <div class="row">
      <div class="col-md-3">
        <h4 class="h4-responsive">Tutoring</h4>
        <a href="/subcategory/Tutoring"><img src="https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="categories-img img-fluid"></a>
      </div>
      <div class="col-md-3">
        <h4 class="h4-responsive">Childcare</h4>
        <a href="/subcategory/Child%20Care"><img src="https://images.pexels.com/photos/225017/pexels-photo-225017.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="categories-img img-fluid"></a>
      </div>
      <div class="col-md-3">
        <h4 class="h4-responsive">Petcare</h4>
        <a href="/subcategory/Pet%20Care"><img src="https://images.pexels.com/photos/5777/dog-pet-cute-sweet.jpg?h=350&auto=compress&cs=tinysrgb" class="categories-img img-fluid"></a>
      </div>
      <div class="col-md-3">
        <h4 class="h4-responsive">Housecare</h4>
        <a href="/subcategory/Home%20Care"><img src="https://images.pexels.com/photos/358572/pexels-photo-358572.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb" class="categories-img img-fluid"></a>
      </div>
    </div>
  </div>
</div>

<!-- How It Works -->
<div id="about" class="flex-container">
  <div class="container full-bg-img text-white">
    <div class="row wow fadeIn">
      <div class="col-lg-6 offset-lg-6">
        <h1 class="h1-responsive font-bold">How It Works</h2>
          <p class="flex-center">Lorem ipsum dolor sit amet, nulla mundi tractatos ne his, cu eum delenit voluptua philosophia. Vis natum appareat posidonium ne, eius oportere cu ius. Mea nemore suscipit eleifend ut, nam ex aeterno periculis. Virtute laboramus argumentum
          est at, cum ea tempor placerat pertinacia. Nibh aliquip tamquam mel ea, vel ex nonumy fuisset, aliquip veritus apeirian mea cu. In case causae nominavi usu.
          <br /><br /> Ludus suavitate nam id, justo aliquip contentiones sed ad, vidisse omittam fastidii pro ei. Ex homero facilisis mel. Duo in quod accusam, id vel doming nemore, cum odio possim ad. Nobis solet at mel, vim noster euismod id, te
          nec augue suscipit. Ex mei legimus officiis vituperatoribus. Ut eos primis essent, pro veri sanctus convenire te. Vis eu choro patrioque splendide. Sit detracto molestie scriptorem ea, vidisse placerat assueverit nec ne.
          <br /><br /> Ludus suavitate nam id, justo aliquip contentiones sed ad, vidisse omittam fastidii pro ei. Ex homero facilisis mel. Duo in quod accusam, id vel doming nemore, cum odio possim ad.</p>
      </div>
  </div>
  </div>
</div>
<!-- ./How It Works -->

    <!-- The Team -->
    <div id="team" class="flex-container">
      <div class="container">
        <h1 class="h1-responsive wow fadeIn text-center font-bold">The Team</h2>
    <p class="text-center font-bold mb-5 wow fadeIn" data-wow-delay="0.2s">We are a group of Computer Science students from Hunter College and CUNY Tech Prep</p>

    <div class="card-deck">
      <div class="card wow fadeIn">
      <img class="card-img-top img-fluid" src="https://scontent-lga3-1.cdninstagram.com/t51.2885-19/s320x320/21433594_455869398128953_3567923388276015104_a.jpg" alt="Heidi">
        <div class="card-body" style="padding: 10px;">
          <h4 class="card-title">Heidi Wu</h4>
          <h6 class="font-bold blue-text">Full Stack Developer</h6>
          <p class="card-text">Heidi is a full stack developer with a keen interest in data science. In her free time, she enjoys rock climbing and playing with her dog, Kuro.</p>
        </div>
        <div id="team-links" class="card-footer cyan accent-3 text-center">
          <a href="https://github.com/heidiwu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://heidiwu.github.io/" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/heidiwu1/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="card wow fadeIn" data-wow-delay="0.2s">
      <img class="card-img-top img-fluid" src="https://avatars0.githubusercontent.com/u/17010683?v=4&s=460" alt="Risa">
        <div class="card-body" style="padding: 10px;">
          <h4 class="card-title">Risa Toyoshima</h4>
          <h6 class="font-bold blue-text">Full Stack Developer</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
        </div>
        <div id="team-links" class="card-footer amber accent-2 text-center">
          <a href="https://github.com/risatoy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://risatoy.github.io/" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/risatoyoshima/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="card wow fadeIn" data-wow-delay="0.2s">
      <img class="card-img-top img-fluid" src="https://avatars3.githubusercontent.com/u/20933153?v=4&s=460" alt="Dan Dan">
        <div class="card-body" style="padding: 10px;">
          <h4 class="card-title">Dan Dan Lin</h4>
          <h6 class="font-bold blue-text">Full Stack Developer</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
        </div>
        <div id="team-links" class="card-footer default-color text-center">
          <a href="https://github.com/Dandanlin0702" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/dandanlin0702/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="mailto:dandanlin.l@gmail.com?Subject=Hello%20Dan%20Dan" target="_top" data-toggle="tooltip" title="dandanlin.l@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- ./The Team -->
<!-- Main Container -->

<!--Footer-->
<footer class="footer center-on-small-only">
  <a class="up-arrow text-white" href="#heading" data-toggle="tooltip" title="To Top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
</footer>
<!--/.Footer-->
